/* CSS Document */

body {
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(images/greyback.jpg);
	background-repeat: repeat;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
a:link {
	color: #003399;
}
a:visited {
	color: #003399;
}
a:hover {
	color: #0066CC;
}
a:active {
	color: #0066CC;
}

.greenhead {
	color: #009933;
	font-weight: bold;
	font-size: 13px;
}

.whitehead {
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
}